.mainBox {
  display: flex;
}
.mainBox.formBox {
  margin: 25px;
  flex-wrap: wrap;
  box-shadow: none;
  flex-grow: 1;
}
* {
  box-sizing: border-box;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 20px;
  resize: vertical;
}

label {
  font-weight: bold;
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  } */

/* input[type=submit]:hover {
    background-color: #45a049;
  } */

.mainBox.formBox.formContainer {
  border-radius: 5px;
  /* background-color: #f2f2f2; */
  /* padding: 20px; */
  display: block;
}

.col-25 {
  float: left;
  width: 30%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  /* width: auto%; */
  margin-top: 6px;
}

.col-end {
  float: left;
  /* margin-top: 6px; */
}

.row {
  width: 100%;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1000px) {
  .col-25,
  .col-75,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
  .mainBox {
    flex-direction: column;
  }
}

.mainBox.choiceBox {
  /* flex-direction: column; */
  box-shadow: none;
  /* flex-wrap: wrap; */
  display: block;
  margin: 25px;
}
