/* introHome//////// */
.introHome {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
  background-color: rgb(255, 255, 255);
}
button.normbutton {
  color: black;
  font-weight: bold;
  font-size: 16px;
  width: 144px;
  height: 53px;
  background-color: #eae0d5;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}
button.category {
  background: #ddbea9;
  color: black;
  font-weight: bold;
  font-size: 16px;
  width: 144px;
  height: 53px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}
div.searchButton {
  width: 311px;
  height: 53px;
  padding-left: 10px;
  padding-right: 10px;
  background: #fefae0;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
input {
  background-color: transparent;
  padding-left: 10px;
  border: none;
  width: 230px;
  outline: none;
  font-size: 16px;
}
input::placeholder {
  color: black;
  font-weight: bold;
  font-size: 16px;
}
button.search {
  width: 87px;
  height: 39px;
  color: white;
  border: none;
  background: #e29578;
  border-radius: 20px;
}
a {
  text-decoration: none;
}
/* slider////////// */
.slider {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 350px;
  /* padding-left: 50%; */
  overflow: hidden;
}
.slides {
  width: 500%;
  height: 500px;
  display: flex;
  justify-content: flex-start;
}
.slides input {
  display: none;
}
.slide {
  width: 20%;
  transition: 2s;
}
.slide img {
  width: 800px;
  height: 500px;
  border-radius: 20px;
}
.navigation-manual {
  width: 800px;
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}
.manual-btn {
  border: 3px solid darksalmon;
  padding: 5px;
  border-radius: 15px;
  cursor: pointer;
}
.manual-btn:not(:last-child) {
  margin-right: 40px;
}
.manual-btn:hover {
  background-color: darksalmon;
}
#radio1:checked ~ .first {
  margin-left: 0;
}
#radio2:checked ~ .first {
  margin-left: -20%;
}
#radio3:checked ~ .first {
  margin-left: -40%;
}
#radio4:checked ~ .first {
  margin-left: -60%;
}
#radio5:checked ~ .first {
  margin-left: -80%;
}
/* topbook//////// */
.topbook {
  height: fit-content;
}
/* viewbook/////// */
.viewbook {
  height: fit-content;
}
/* footer//////// */
hr {
  border: 1px black solid;
  border-radius: 10px;
  width: 80%;
}
.footer {
  /* background-color: #faecdb; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 280px;
}
.footerLeft {
  width: calc(100% / 2 - 100px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.media {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
img.imgfootleft {
  border-radius: 15px;
}
img.imgmedia {
  width: 54px;
  cursor: pointer;
}
.footerRight {
  width: calc(100% / 2 - 100px);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact {
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contactinfo {
  display: flex;
  align-items: center;
}
img.info {
  width: 30px;
  cursor: pointer;
}
img.onlinepayicon {
  width: 50px;
  cursor: pointer;
}
p.footrightTitle {
  font-size: 20px;
  font-weight: bold;
  justify-content: center;
}
.onlinepay {
  width: 140px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
select {
  background-color: transparent;
  border: none;
  outline: none;
  font-weight: bold;
  font-size: 16px;
}
option {
  text-align: center;
}
