.topbooktitle {
  margin: 30px auto 0 auto;
  border-radius: 20px;
  width: 60%;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #eae0d5;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
  margin: 50px 30px 30px 30px;
}
