.card {
  align-items: center;
  width: 100%;
  /* border: 1px solid rgba(180, 180, 180, 0.842); */
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: #f4f1de;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 10%);
  cursor: pointer;
}
.viewbooktitle {
  margin: 40px auto 0 auto;
  border-radius: 20px;
  width: 60%;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #eae0d5;
}
.uppercard {
  display: flex;
  gap: 10px;
}
.bookimg img {
  width: 150px;
  height: 180px;
  object-position: center;
  margin: auto;
  margin-bottom: 10px;
}
.bookinfo {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.bookinfo em {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 15px;
}
.bookinfo span {
  font-size: 20px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
  margin: 40px 30px;
}
.downcard {
  display: flex;
  width: 70%;
  justify-content: space-between;
}
.shopping-bag {
  background-color: #386641;
  color: white;
  border-width: 1px;
  border-radius: 10px;
  border-color: beige;
  height: 40px;
  width: 50%;
  cursor: pointer;
}
.shopping-bag:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
.review {
  background-color: #14213d;
  color: white;
  border-width: 1px;
  border-radius: 10px;
  border-color: beige;
  height: 40px;
  width: 40%;
}
.review:hover {
  background-color: rgb(97, 97, 97);
}
.toallbook {
  margin: 0 auto 30px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 15px;
  border: 2px solid black;
  height: 50px;
  width: 200px;
  cursor: pointer;
}
.toallbook:hover {
  background-color: rgb(207, 207, 207);
}
link {
  width: 100px;
}
