.ci_container {
  display: flex;
  flex-direction: row;
  max-width: 90%;
  margin: 25px auto;
  /* grid-template-columns: 20% 40% 13% 27%; */
  /* gap: 10px; */
  background-color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media (max-width: 1000px) {
  .ci_container {
    flex-direction: column;
  }
  #ci_image > img {
    display: flex;
    width: 50%;
    margin: auto;
  }
  #ci_quit_button {
    order: -1;
  }
}
#ci_image {
  flex-basis: 15%;
}
#ci_image > img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.image_button {
  background-color: inherit;
  border: none;
}
.image_button > img {
  width: 30px;
  opacity: 0.8;
}
.image_button > img:hover {
  opacity: 1;
}
.image_button > img:active {
  opacity: 0.5;
}

#ci_info {
  flex-basis: 40%;
  margin: 0px 10px;
}

#ci_quantity {
  flex-basis: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#ci_item_total {
  flex-basis: 25%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

#ci_quit_button {
  flex-basis: 10%;
}
#ci_quit_button > button {
  float: right;
}
