$mainfont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

body {
// display: flex;
margin: 0;
font-family: $mainfont;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
overflow-x: auto;
}
*{ 
    box-sizing: border-box;
}
div {
font-family: $mainfont;
}
input{
    all: initial;
}
// @font-face {
//     font-family: $mainfont;
//     src: url("../../../../public/font/ja-jp.ttf");
// }

.card-form {
    display: flex;
    width: 100%;
    margin: 0px 0px;
    // width: 0%;
    padding: 0 18%;
    // flex-direction: column;
    // width: 65%;
    flex-flow: column wrap;
    // flex-wrap: wrap;
    // max-width: 65%;
    align-items: center;
    // justify-content: center;
    flex-grow: 4;
    .form-tag{
        // 
        width: 100%;
        h1{
            // margin: 3vh 3vw;
            margin: 0;
            padding-top: 1.5em;
            font-size: 1.75em;
            // font-weight:1;
        }
    }    
}

.form--input {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    // flex-flow: column wrap;
    position: relative;
    padding-top: 2.5rem;
    padding-right: 0.5em;
    padding-left: 0.5em;
    &+.input {
        margin-top: 1.5rem;
    }
    .input-label {
        color: #8597a3;
        position: absolute;
        transform: translateY(-0.75rem);
        transition: .25s ease;
        font-weight: bold;
        font-size: 1.2em;
    }

    .input-field {
        border: 0;
        z-index: 1;
        // padding-left: 150px;
        background-color: transparent;
        border-bottom: 2px solid #eee; 
        font: inherit;
        font-size: 1.125em;
        padding: .25rem 0;
        &:focus, &:valid {
            outline: 0;
            border-bottom-color: #6658d3;
            &+.input-label {
                color: #6658d3;
                transform: translateY(-2.25rem);
            }
        }
    }

    select{
        option {
            &:focus{
                background-color: #6658d3;
            }
        }
    }
}

.multi-inputs {
    display: flex;
    position: relative;
    width: 100%;
    margin: 0 0;
    // flex-flow: row wrap;
    // position: relative;
    // padding-top: 2.5rem;
    // padding-right: 0.5em;
    // padding-left: 0.5em;
    // padding-right: 0.5em;
    // padding-left: 0.5em;
    
}

.action {
    margin-top: 2rem;
    .action-button {
        font-family: $mainfont;
        font-size: 1.25rem;
        padding: 1em;
        width: 100%;
        font-weight: bold;
        background-color: #6658d3;
        border-radius: 6px;
        color: #FFF;
        border: 0;
        &:focus {
            outline: 0;
        }
    }
}