/* .upperNav {
  padding-top: 10px;
} */

nav {
  padding-left: 50px;
  padding-right: 50px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
}
img.navimg {
  width: 24px;
}

img.nav-ava {
  width: 40px;
}
.navbutton {
  height: 55px;
  font-size: 17px;
  display: flex;
  align-items: center;
}

.navbutton:hover {
  cursor: pointer;
}

.Left {
  width: 240px;
  display: flex;
  justify-content: space-between;
}
.Right {
  width: 360px;
  display: flex;
  justify-content: space-between;
}

.introHome img {
  width: 305px;
  height: 90px;
}

.sub-nav {
  position: absolute;
  top: 55px;
  margin: 0;
  padding: 0;
  background-color: #ffff;
  list-style: none;
  width: 168px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 30%), 0 6px 20px 0 rgb(0 0 0 / 0%);
  display: none;
}

.sub-nav li {
  text-decoration: none;
  color: black;
}

.sub-nav.add {
  display: block;
}

.sub-nav li:hover {
  background-color: blanchedalmond;
}