.upperNav {
  padding-top: 10px;
}

nav {
  padding-left: 50px;
  padding-right: 50px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
}
img.navimg {
  width: 24px;
}
.navbutton {
  font-size: 17px;
  display: flex;
  align-items: center;
}

.navbutton:hover {
  opacity: 0.7;
  cursor: pointer;
}

.Left {
  width: 240px;
  display: flex;
  justify-content: space-between;
}
.Right {
  width: 360px;
  display: flex;
  justify-content: space-between;
}

.introHome img {
  width: 316px;
  height: 98px;
}