.books {
    margin: auto;
    width:95%;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: center;
}

.book-card{
    width: 400px;
    display: flex;
    padding: 2em 1em;
    border-bottom: 2px solid #eeeeef;
}
.book-image {
    height: 175px;
    // border-radius: 5px;
    transition: transform .2s;
    box-shadow: 2px 2px 5px ;
}

.book-image:hover{
    transform: scale(1.05);
}
.book-info {
    display: flex;
    flex-direction: column;
    padding-left: 0.75em;
    justify-content: center;
    margin-left: 1.25em;
}
.book-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    margin: 0.5em 0;
    font-size: 1.2em;
    font-family: Candara;
}
.book-author {
    margin: 0.5em 0;
    font-size: 1.2em;
    font-weight: normal;
}

.book-price {
    margin: 0.5em 0;
    font-size: 1.2em;
    font-weight: normal;
    color: blue;
    font-family: IBM Plex Sans;
}