
.login-page {
    background-image: url(../img/login_background.jpg);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
	align-items: center;
	justify-content: center;
}

.login-container {
    background-color: #fff;
    width: 500px;
    height: 600px;
    border-radius: 50px;
    animation: Fadein ease 0.6s;
}

.login-header h1 {
    text-align: center;
    margin: 5px 20px;
    border-radius: 20px;
    padding: 10px 10px;
    /* background: #EFEFEF content-box; */
    border: 2px solid #472D30;
    /* font-family: 'Source Serif Pro'; */
    font-size: 25px;
    color: #472D30;
}

.login-logo {
    margin: auto;
    margin-top: 30px;
    display: block;
    width: 270px;
    height: 83.6px;
}

.login-content {
    padding: 20px;
}

.login-label {
    display: block;
    font-size: 18px;
    color: #472D30;
    font-weight: 500;
    padding-bottom: 10px;
    padding-top: 15px;
}

.login-input {
    border: 1px solid #ccc;
    width: 95%;
    font-size: 15px;
    padding: 10px;
    border-radius: 20px;
}

.login-input::placeholder {
    color: rgba(0, 0, 0, 0.4);
    text-decoration: none;
}

/* .btn {
    margin-top: 30px;
    border-radius: 20px;
    font-size: 15px;
    border: none;
    padding: 8px 10px;
    position: relative;
} */

/* .btn img {
    height: 25px;
    margin-right: 10px;
    padding-top: 3px;
} */
.btn {
    border-radius: 20px;
    margin: 0 5px;
    padding: 10px 20px;
    border: none; 
    opacity: 0.9; 
    margin-top: 30px;
    color: #472D30;
    font-weight: 600;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}
.btn:hover {
    opacity: 0.7;
}
.btn:active {
    opacity: 1;
}
.btn > img {
    width: 30px;
    vertical-align: middle;
    margin-right: 10px;
}

.button-container {
    text-align: center;
}

.back-btn {
    background-color: #DDBEA9;
}

.login-btn {
    margin-left: calc(100%/4) !important;
    background-color: #FFC4AE;
}

.update-pw-btn {
    background-color: #fff;
    border: none;
    padding: 0px;
    font-size: 17px;
    font-family: 'Times New Roman';
    color: rgb(85,26,139);
    text-decoration-color: rgb(0,0,238);
    cursor: pointer;
}

.update-pw-btn:active {
    color: rgb(255,0,0);
}

.login-text {
    padding-top: 25px;
    text-align: center;
    font-size: 17px;
}

.modal-forgetpw {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
	align-items: center;
	justify-content: center;
    display: none;
}

.modal-forgetpw.open {
    display: flex;
}

.modal-container {
    border: 2px solid #472D30;
    background-color: #fff;
    width: 600px;
    height: 500px;
    border-radius: 10px;
    animation: modalFadein ease 0.6s;
}

.modal-header h1 {
    text-align: center;
    margin: 40px 20px 20px 20px;
    padding: 10px 10px;
    /* background: #EFEFEF content-box; */
    border: 2px solid #472D30;
    /* font-family: 'Source Serif Pro'; */
    font-size: 25px;
    color: #472D30;
    background-color: #EFEFEF;
}

.modal-content {
    padding: 10px 20px 20px 20px;
}

@keyframes Fadein {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes modalFadein {
    from {
        opacity: 0;
        transform: translateY(-140px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}