
.login-page {
    background-image: url(../img/login_background.jpg);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
	align-items: center;
	justify-content: center;
}

.login-container {
    background-color: #fff;
    width: 500px;
    height: 600px;
    border-radius: 50px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 30%), 0 6px 20px 0 rgb(0 0 0 / 30%);
    /* animation: Fadein ease 0.6s; */
}

header.login-header {
    width: 90%;
    margin: auto;
}

.login-header h1 {
    text-align: center;
    margin: 15px 20px 5px 20px;
    border-radius: 20px;
    padding: 10px 10px;
    background: #EFEFEF30;
    font-size: 18px;
    color: #472D30;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 20%);
}

.login-logo {
    margin: auto;
    margin-top: 30px;
    display: block;
    width: 270px;
    height: 83.6px;
}

.login-content {
    padding: 20px 35px;
}

.login-label {
    display: block;
    font-size: 15px;
    color: #472D30;
    font-weight: 500;
    padding-bottom: 10px;
    padding-top: 15px;
    padding-left: 11px
}

.login-input {
    border: 1px solid #ccc;
    width: 100%;
    font-size: 15px;
    padding: 10px;
    border-radius: 20px;
}

.login-input::placeholder {
    color: rgba(0, 0, 0, 0.3);
    text-decoration: none;
    font-weight: 500;
}

/* .btn {
    margin-top: 30px;
    border-radius: 20px;
    font-size: 15px;
    border: none;
    padding: 8px 10px;
    position: relative;
} */

/* .btn img {
    height: 25px;
    margin-right: 10px;
    padding-top: 3px;
} */
.btn {
    border-radius: 20px;
    padding: 10px 20px;
    border: none; 
    color: #472D30;
    font-weight: 600;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0);
}
.btn:hover {
    opacity: 0.7;
    cursor: pointer;
}
.btn:active {
    opacity: 1;
}
.btn > img {
    width: 30px;
    vertical-align: middle;
    margin-right: 10px;
}

.button-container {
    text-align: center;
}

.back-btn-login {
    background-color: #DDBEA9;
    margin-top: 40px;
}

.login-btn {
    margin-left: calc(100%/4) !important;
    background-color: #FFC4AE;
}

.update-pw-btn {
    background-color: #fff;
    border: none;
    padding: 0px;
    font-size: 15px;
    font-family: 'segoe UI';
    color: rgb(85,26,139);
    text-decoration-color: rgb(0,0,238);
    cursor: pointer;
}

.update-pw-btn:active {
    color: rgb(255,0,0);
}

.login-text {
    /* padding-top: 25px; */
    text-align: center;
    font-size: 15px;
}

.modal-pw, .modal-profile {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
	align-items: center;
	justify-content: center;
    display: none;
}

.modal-pw.open {
    display: flex;
}

.modal-profile.open {
    display: flex;
}

.modal-pw .modal-container {
    border: 2px solid #472D30;
    background-color: #fff;
    width: 600px;
    height: 500px;
    border-radius: 10px;
    animation: modalFadein ease 0.6s;
}

.modal-profile .modal-container {
    border: 2px solid #472D30;
    background-color: #fff;
    width: 600px;
    height: 670px;
    border-radius: 10px;
    animation: modalFadein ease 0.6s;
}

header.modal-header {
    margin: auto;
    width: 90%;
}

.modal-header h1 {
    text-align: center;
    margin: 50px 20px 20px 20px;
    padding: 10px 10px;
    font-size: 18px;
    border-radius: 50px;
    background-color: #EFEFEF;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 10%);
}

.modal-content {
    padding: 10px 35px 20px 35px;
}

.modal-profile .modal-container .modal-content{
    padding: 10px 65px 20px 65px;
}

.back-btn-modal {
    background-color: #DDBEA9;
}

/* .notification {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
	align-items: center;
	justify-content: center;
    display: none; 
}

.notification .notification-container {
    border: 2px solid #472D30;
    background-color: #fff;
    width: auto;
    height: auto;
    border-radius: 10px;
    animation: modalFadein ease 0.6s;
} */

@keyframes Fadein {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes modalFadein {
    from {
        opacity: 0;
        transform: translateY(-140px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}