.register-page {
    background-image: url(../img/signup_background_1.jpg);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
	align-items: center;
	justify-content: center;
}

.register-container {
    background-color: #fff;
    width: 500px;
    height: 600px;
    border-radius: 50px;
    border: #000 solid;
    animation: Fadein ease 0.6s;
}

.register-header h1 {
    text-align: center;
    margin: 30px 20px 10px 20px;
    border-radius: 20px;
    padding: 10px 10px;
    /* background: #EFEFEF content-box; */
    border: 2px solid #472D30;
    font-family: 'Source Serif Pro';
    font-size: 25px;
    color: #472D30;
    background-color: #EFEFEF;
}

.register-content {
    padding: 5px 20px 20px 20px;
}

.info-input {
    width: 100%;
    margin: 20px 0px;
    display: flex;
    justify-content: space-between;
}

.register-label {
    font-size: 18px;
    color: #472D30;
    font-weight: 500;
    padding-bottom: 10px;
    padding-top: 15px;
}

.register-input {
    width: 300px;
    border: 1px solid #ccc;
    /* width: 95%; */
    font-size: 15px;
    padding: 10px;
    border-radius: 20px;
}

.register-input::placeholder {
    color: rgba(0, 0, 0, 0.4);
    text-decoration: none;
}

.register-radio {
    width: 15px;
    margin: 0px 0px 0px 75px;
}

.btn-reg {
    border-radius: 20px;
    margin: 0 5px;
    padding: 10px 20px;
    border: none; 
    opacity: 0.9; 
    margin-top: 15px;
    color: #472D30;
    font-weight: 600;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}
.btn-reg:hover {
    opacity: 0.7;
}
.btn-reg:active {
    opacity: 1;
}
.btn-reg > img {
    width: 30px;
    vertical-align: middle;
    margin-right: 10px;
}

.button-container {
    text-align: center;
}

.back-btn {
    background-color: #DDBEA9;
}

.confirm-btn {
    margin-left: calc(100%/4) !important;
    background-color: #FFC4AE;
}

@keyframes modalFadein {
    from {
        opacity: 0;
        transform: translateY(-140px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}