.signup-page {
    background-image: url(../img/signup_background.jpg);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
	align-items: center;
	justify-content: center;
}

.signup-container {
    background-color: #fff;
    width: 500px;
    height: 600px;
    border-radius: 50px;
    animation: Fadein ease 0.6s;
}

.signup-header h1 {
    text-align: center;
    margin: 5px 20px;
    border-radius: 20px;
    padding: 10px 10px;
    /* background: #EFEFEF content-box; */
    border: 2px solid #472D30;
    font-family: 'Source Serif Pro';
    font-size: 25px;
    color: #472D30;
}

.signup-logo {
    margin: auto;
    margin-top: 30px;
    display: block;
    width: 270px;
    height: 83.6px;
}

.signup-content {
    padding: 5px 20px 20px 20px;
}

.signup-label {
    display: block;
    font-size: 18px;
    color: #472D30;
    font-weight: 500;
    padding-bottom: 10px;
    padding-top: 15px;
}

.signup-input {
    border: 1px solid #ccc;
    width: 95%;
    font-size: 15px;
    padding: 10px;
    border-radius: 20px;
}

.signup-input::placeholder {
    color: rgba(0, 0, 0, 0.4);
    text-decoration: none;
}

/* .btn {
    margin-top: 30px;
    border-radius: 20px;
    font-size: 15px;
    border: none;
    padding: 8px 10px;
    position: relative;
} */

/* .btn img {
    height: 25px;
    margin-right: 10px;
    padding-top: 3px;
} */
.btn {
    border-radius: 20px;
    margin: 0 5px;
    padding: 10px 20px;
    border: none; 
    opacity: 0.9; 
    margin-top: 45px;
    color: #472D30;
    font-weight: 600;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}
.btn:hover {
    opacity: 0.7;
}
.btn:active {
    opacity: 1;
}
.btn > img {
    width: 30px;
    vertical-align: middle;
    margin-right: 10px;
}

.button-container {
    text-align: center;
}

.back-btn {
    background-color: #DDBEA9;
}

.signup-btn {
    margin-left: calc(100%/4) !important;
    background-color: #FFC4AE;
}

@keyframes modalFadein {
    from {
        opacity: 0;
        transform: translateY(-140px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}