$mainfont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

.main{
    // padding-left: 295px;
    position: stick;
    // width: 80%;
    display: flex;
    flex-flow: column;
    flex-grow: 10;
    // width: 95%;
}

.top--header{
    background-color: #ffffff;
    display: flex;
    flex-flow: row;
    width: 100%;
    // flex-grow: 1;
    margin: 30px 0px;
    position: sticky;
    height: 103px;
    top: 0; bottom: 0;
    align-self: flex-start;
    z-index: 1;
    // vertical-align: middle;
    h1 {
        // width: 550px;
        // vertical-align: middle;
        margin: auto 0;
        margin-left: 1.5em;
        font-size: 3em;
        font-weight: 400;
        // text-overflow: ellipsis;
    }
    h6 {
        // margin: auto 0;
        // margin-top: auto;
        // line-height: 1.5em;
        margin: auto 30px;
        font-size: 2em;
        font-weight: normal;
        opacity: 0.5;
    }
    .addbook-link {
        margin: auto auto;
        .add--book {
            cursor: pointer;
            margin: auto auto;
            width: 290px;
            height: 61px;
            border-radius: 90px;
            border: 0;
            // opacity: 1;
            display: flex;
            flex-direction: row;
            align-items: center;
            // justify-content: center;
            // gap: 6px;
            // font-weight: bold;
            // font-size: 1em;
            // text-align: center;
            // line-height: 31px;
            img{
                margin-left: -2px;
                // padding: 5px;
                height: 52px;
                background-color: white;
                border-radius: 90px;
            }
            h6 {
                color: #fff;
                opacity: 1;
                font-size: 2em;
                text-align: center;
                font-family: $mainfont;
                font-weight: bold;
            }
            background-color: #73E869;
        }
    }
    .search--container{
    // min-width: min-content;
        // margin-top: 3vh;
        margin: auto;
        padding-bottom: 0;
        // margin-left: auto;
        // margin-right: 12vw;
        border-bottom: 1px solid black;
        height: 40px;
        form {
            display: flex;
            justify-content: center;
            ::placeholder {
            font-size: 1.2em;
            opacity: 0.5;
            }
            input{
                width: 300px;
                // height: 40px;
                font-family: $mainfont;
                outline: 0px;
                font-size: 1.2em;
                border-width: 0 0 0 0;
                border-color: #00000053;
                background-color: transparent;
            }
            button{
                padding:0;
                background-color: transparent;
                border: none;
                color: rgb(0, 0, 0);
                cursor: pointer;
                font-size: 1.2em;
                margin-right:0.5em;
            }
        }
    }
}