// @font-face {
//   font-family: Huawei;
//   src: url("../../../public/font/ja-jp.ttf");
// }
$mainfont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
body {
  // display: flex;
  margin: 0;
  font-family: $mainfont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: auto;
}
*{
  box-sizing: border-box;
}
div {
  font-family: $mainfont;
}
.page{
  display: flex;
  // flex-flow: row;
  // flex-direction: row;
  // width: 100vw;
  // overflow-x: auto;
  nav {
    all: initial;
    z-index: 1;
    display: flex;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: sticky;
    top: 0;
    bottom:0;
    align-self: flex-start;
    width: 295px;
    flex-shrink: 0;
    height:100vh;
    // overflow-y:auto;
    flex-direction: column;
    align-items: center;
    // overflow-x: hidden;
    // justify-content: center;

    .logo {
      margin-top: 20px;
      img {
        background-color: transparent;
        display: flex;
        height: 5em;
      }
    }
    .routes{
      // position: relative;
      // float: center;
      margin-top: auto;
      margin-bottom: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0px;
      gap: 20px;
      
      .nav--route{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px 10px;
        gap: 11px;
        &:focus, &:hover, &:visited, &:link {
          text-decoration: none;
          color: black;
        }
        img{
          margin-left: 15px;
          height: 30px;
        }
        span{
          text-decoration: none;
          width: 180px;
          font-weight: bold;
          font-size: 1.1em;
        }
      }
    }
  }
  
  .content {
    // margin-top: 300px;
    margin-top: 0;
  }
}
.active{
  background: #E9FD06;
  border-radius: 5px;
  transition: all 1.5s ease;
}



// nav > .splitBox {
//   display: flex;
//   width: 33.333333333333333333333%;
//   align-items: center;
//   justify-content: center;  
// }
// nav > div > img {
//   margin: 0;
//   height : 3em;
// }

// nav > div > h2 {
//   color: white;
//   margin: auto;
//   font-size: 1.5em;
//   font-weight:lighter;
//   padding: 1em 1em 1em 1em;
//   margin: 0;
// }

// nav > div> h2:hover{
//   background: #d0f0fb;
//   color: #118ab2;
//   transition: all 0.5s ease;
// }

// .input-wrapper {
//   width: 600px;
//   margin: 0;
//   padding-left: 1em
// }

// .input-highlight {
//   font-size: 20px;
//   user-select: none;
//   line-height: 30px;
//   border-top: 3px solid white;
//   position: absolute;
//   left: 0;
//   bottom: 0;
//   max-width: 100%;
//   height: 0;
//   color: transparent;
//   font-family: $mainfont;
//   overflow: hidden;
// }

// nav > div > input {
//   position: relative;
//   margin: 0 0 0 0;
//   border-radius: 0;
//   width: 400px;
//   line-height: 20px;
//   background-color: transparent;
//   color: white;
//   font-size: 1.5em;
//   font-family: $mainfont;
//   border: none;
//   outline: none;
//   border-bottom: 2px solid #d0f0fb;
//   font-family: $mainfont;

//   &:focus {
//     + .input-highlight {
//       border-top: 3px solid #fbc91b;
//     }
//   }
// }

// nav > div > button {
//   float: left;
//   width: 0%;
//   padding: 16.5px;
//   background: url("../assets/img/search_logo.png");
//   background-size: cover;
//   color: white;
//   font-size: 1.5em;
//   border: none;
//   cursor: pointer;
// }

// .page{
//   margin: 3em auto;
//   width:996px;
// }

