// @font-face {
// 	font-family: Huawei;
// 	src: url("../../../public/font/verdana.ttf");
// }

// @import url('https://fonts.googleapis.com/css2?family=Spectral+SC:wght@300&display=swap');

body {
	// display: flex;
	margin: 0;
	font-family: Huawei;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: auto;
}
*{
	box-sizing: border-box;
}
div {
	font-family: Huawei;
}

.divTable{
	display: table;
	width: auto;
	overflow-x: scroll;
	margin: 0 auto;
	// top: 0;
	// padding: 0 10%;
	// flex-grow: 4;
	.divTableBody{
		// display: flex;
		// margin: auto;
		// display: table-row-group;
		// flex-grow: 4;
		margin: 0 auto;
		.header{
			// width: 80%;
			// margin: 100px 100px;
			position: sticky;
			top: 100px;
			bottom: 0;
			background-color: rgb(255, 255, 255);
			display: table-row;
			// line-height: 10px;
			height: 76px;
			border-bottom: 3px solid #000000;
			.divTableCell{
				&:first-child {
					border-left: 0px solid #000000;
				}
				font-size: 0.9em;
				// padding: 0 10px;
				display: table-cell;
				// max-width: 450px;
				border: 0;
				border-left: 1px solid ;
				border-image: linear-gradient(transparent 30%, rgb(61, 61, 61) 20% 70%, transparent 0%) 0 0 0 1 / 2px;
	
				// border-radius: 10px;
				vertical-align: middle;
				font-weight: bold;
				padding: 3px 10px;

			}
			box-shadow: 0 1px black;
		}

		.row{
			display: table-row;
			height: 105px;
			
			.divTableCell{
				border: 0;
				max-width: 450px;
				display: table-cell;
				vertical-align: middle;
				padding: 3px 10px;
				font-size: 0.9em;
				.ad--option{
					opacity: 0;
					display: flex;
					flex-direction: column;
					gap: 10px;
					button{
						height: 41px;
						width: 150px;
						border-radius: 90px;
						border: 0;
						// opacity: 1;
						display: flex;
						flex-direction: row;
						align-items: center;
						// justify-content: center;
						gap: 6px;
						font-family: 'Spectral SC';
						font-weight: bold;
						font-size: 0.9em;
						line-height: 24px;
						img{
							margin-left: -3px;
							// padding: 5px;
							height: 35px;
							background-color: white;
							border-radius: 90px;
						}
					}
					.per{
						background: #DFF1C7;
					}
					.del{
						background: #E8A8A8;
					}
				}
				img {
					height: 44px;
				}
			}
			&:hover {
				background-color: #90E0EF ;
				.divTableCell{
					.ad--option{
						opacity: 1;
					}
				}
			}
		}
	}
}